*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {

}

.container {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    border-radius: 1rem;
}

.dashboard {

}

.word-list-element {
    margin: .5rem;
    padding: .5rem;
    background-color: white;
    display: flex;
    gap: .5rem;
}

.hidden {
    display: none;
}