:root {

}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--txt-clr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.col-50 {
    flex: 50%;
}

/*NAV*/
.navbar {
    padding: 1rem;
    background-color: var(--nav-clr);
    border-bottom: 1px solid black;
    position: inherit;
}

.nav-links {
    gap: 1rem;
    list-style: none;
}

.nav-logo {

}

.nav-links a{
    text-decoration: none;
    color: var(--txt-clr);
}

/*MAIN*/
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-container {
    width: 1200px;
    height: 100vh;
    /* background-color: rebeccapurple; DELETE LATER */
}

.section {
    margin-bottom: 3rem;
}

.boldWord {
    font-weight: 900;
    text-decoration: underline;
    
}

.header-lg {
    padding: 1rem 0 1rem;
    margin: 2rem 0 1rem;
}
.header-lg h1 {
    margin: 0 0 1rem;
    width: fit-content;
}

.header-sm {
    text-transform: uppercase;
}
.header-sm h3 {
    padding: .5rem;
    margin: 0 0 1rem;
    background-color: red;
    color: white;

    width: 100%;
}

.text-sm {
    padding: 1rem;
    background-color: white;
    border-top: 3px solid red;
    box-shadow: 0 0 3px 3px rgb(229, 229, 229);
}
.text-sm p {
    margin: 0 0 .5rem;
}

.ex-table {
    border-spacing: 0;
    margin-top: 1rem;
}
.ex-table th {
    padding: .5rem;
    border: 1px solid black;
    background-color: darkblue;
    color: white;
    
}
.ex-table td {
    padding: .5rem;
    border: 1px solid black;
}

.ex-title {
    font-weight: 900;
}