:root {
    --bkg-clr: rgb(255, 255, 255);
    --nav-clr: rgb(112, 0, 240);
    --txt-clr: rgb(190, 190, 190);
    --cor-ans: rgb(190, 250, 190);
    --inc-ans: rgb(230, 191, 191);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    color: var(--txt-clr);
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*NAV*/
.navbar {
    padding: 1rem;
    background-color: var(--nav-clr);
    border-bottom: 1px solid black;
    position: inherit;
}

.nav-links {
    gap: 1rem;
    list-style: none;
}

.nav-logo {

}

.nav-links a{
    text-decoration: none;
    color: var(--txt-clr);
}


/*MAIN*/
.width-container {
padding: 2rem;
max-width: 1200px;
}

.heignt-container {
    height: 100vh;
}

.section-height {
    height: 100%;
}

.top-container {
    background-color: var(--nav-clr);
}

.welcome-container {
    gap: 8rem;
}

.index-btn-container {
    gap: 1rem;
}

.index-btn {
    width: 10rem;
}
.index-btn:hover {
    transition: 200ms;
    background-color: var(--txt-clr);
    color: var(--bkg-clr);
}

/*VERB*/
.scroll {
    width: 20rem;
    overflow: auto;
    white-space: nowrap;
}

.tense-container {
    padding: 1rem;
    border: 1px solid var(--txt-clr);
    margin: 1rem;
}

.verbBtn {
    background-color: var(--txt-clr);
    color: var(--bkg-clr);
    width: 100px;
    margin: .5rem;
}
.verbBtn:hover {
    transition: 300ms;
    background-color: var(--nav-clr);
    color: var(--txt-clr);
}

/*ACTIVITY*/
.el-container {
    margin: 5rem;
    padding: 1rem;
    width: 60%;
    border: 1px solid var(--bkg-clr);
    border-radius: 1rem;
    background-color: var(--bkg-clr);
}

.el-box {
    gap: 2rem;
    margin: 2rem;
}

.user-input {
    padding: .5rem;
    height: 2rem;
    width: 300px;
    background: rgba(100,100,100,0.1);
    border-radius: 10px;
    border-color: rgba(100,100,100,0.2);
    outline: none;
    text-align: center;
    font-size: 24px;
}

.btn-container {
    padding: 3rem;
    width:auto ;
}

.actBtn {
    background-color: var(--txt-clr);
    color: var(--bkg-clr);
    width: 100px;
}
.actBtn:hover {
    transition: 300ms;
    background-color: var(--nav-clr);
    color: var(--txt-clr);
}

/*SUMMARY*/
.summaryEl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.summaryBox {
    padding: .5rem;
    margin: .5rem;
    border: none;
    border-radius: 10px;
}
.correct {
    background-color: var(--cor-ans);
}

.incorrect {
    background-color: var(--inc-ans);
    color: var(--txt-clr);
}

.finBtn {
    background-color: var(--txt-clr);
    color: var(--bkg-clr);
    width: 100px;
}

.finBtn:hover {
    transition: 300ms;
    background-color: var(--nav-clr);
    color: var(--txt-clr);
}

/*STORE*/
.header {
    gap: 1rem;
}

.cart {
    height: 25px;
}

.store-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-box {
    width: 10rem;
    height: 12rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 10px;
}

/* .item-img-container {
    display: flex;
} */

.item-img-sml {
    height: 100px;
}

.itm-img-lg {
    height: 250px;
}

.item-details {

}
.item-details h2 {
    font-size: 20px;
}

.back-btn {
    display: none;
}

/*LESSONS*/

.tense-table {
    border: 1px solid var(--txt-clr);
    padding: 1rem;
}

.tense-table tr {
    border: 1px solid var(--txt-clr);
}

.tense-table th {
    border: 1px solid var(--txt-clr);
    padding: 1rem;
}

.tense-table td {
    border: none;
    background-color: var(--nav-clr);
    padding: 1rem;
    cursor: pointer;
}

.inf-tense-cont {
    display: none;
}

.pres-tense-cont {
    display: none;
}